<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>UIAppFonts</key>
    <array>
        <string>PlusJakartaSans-Bold.ttf</string>
        <string>PlusJakartaSans-Regular.ttf</string>
        <string>PlusJakartaSans-Medium.ttf</string>
        <string>PlusJakartaSans-SemiBold.ttf</string>
        <string>PlusJakartaSans-ExtraBold.ttf</string>
    </array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.930250145839-moq17pg2impku18upcrpfubo2dss7jhi</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
